<div class="about-container">
  <div class="card-container">
    <div class="card-img"><img src="/img/car.png" alt="cars" /></div>
    <div class="card-text">
      <div class="sub-heading">It's All About</div>
      <div class="heading">Unique Cars</div>
      <div class="text">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.</div>
    </div>
  </div>
  <div class="card-container">
    <div class="card-text">
      <div class="sub-heading">Cars With</div>
      <div class="heading">Performance Mods</div>
      <div class="text">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.</div>
    </div>
    <div class="card-img"><img src="/img/turbo.png" alt="cars" /></div>
  </div>
  <div class="card-container">
    <div class="card-img"><img src="/img/car-key.png" alt="cars" /></div>
    <div class="card-text">
      <div class="sub-heading">Cars with</div>
      <div class="heading">History</div>
      <div class="text">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.</div>
    </div>
  </div>
</div>