<div class="footer-container">
  <div class="footer-logo-container">
    <div class="logo-tag footer-edit">Car<span
        class="logo-decoration"
      >igraphy</span>
    </div>
    <div class="footer-tag">Community For Car People</div>
  </div>
  <div class="footer-menu">
    <div class="footer-menu-item home">Back To Top</div>
    <div class="footer-menu-item photos">Photos</div>
    <div class="footer-menu-item contribute">Contribure</div>
    <div class="footer-menu-item about">About</div>
  </div>
</div>