<div class="gallery-container">
  <div class="gallery-side-1">
    <div class="gallery-side-1-full"></div>
  </div>
  <div class="gallery-side-2">
    <div class="gallery-side-2-bits"></div>
    <div class="gallery-side-2-bits"></div>
    <div class="gallery-side-2-bits"></div>
    <div class="gallery-side-2-bits btn"><p>Browse All</p></div>
  </div>
</div>