<div class="header-container">
  <div class="header-logo-container">
    <div class="logo-img-container"><img
        src="/img/spark-plug.png"
        alt="logo"
        class="logo-img"
      /></div>
    <div class="logo-tag">Car<span class="logo-decoration">igraphy</span></div>
  </div>
  <div class="header-menu-container">
    <div class="menu-option location-marker">Home</div>
    <div class="menu-option">About</div>
    <div class="menu-option">Photos</div>
    <div class="menu-option">Contribute</div>
  </div>
</div>